
:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333333;
    --max-width: 1100px;
}

.category {
    --sports-color: #f99500;
    --entertainment-color: #a66bbe;
    --technology-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

/* utility classes */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #555555 solid 1px;
    width: 90%;
}

.category {
    display: inline-block;
    color: #ffffff;
    font-size: 0.95rem;
    text-transform: uppercase;
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

.category-sports { background: var(--sports-color); }
.category-technology { background: var(--technology-color); }
.category-entertainment { background: var(--entertainment-color); }

.button {
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #ffffff;
    padding: 0.5rem;
    margin-top: 0.7rem;
    border-radius: 0.9rem;
}

.button:hover {
    opacity: 0.8;
}

.button-primary {
    background: var(--primary-color);
}

.button-light {
    background: var(--light-color);
}

.button-secondary {
    background: var(--secondary-color);
}

.button-dark {
    background: var(--dark-color);
}

.button-block {
    display: block;
    width: 100%;
    text-align: center;
}

.padding-2 { padding: 1.5rem }

.padding-3 { padding: 2.5rem }

.vertical-padding-2 { padding: 1.5rem 0 }

.vertical-padding-3 { padding: 2.5rem 0 }


.article-card {
    background: #ffffff;
    padding: 1rem;
}

.dark-background {
    background: var(--dark-color);
    color: #ffffff;
}

.secondary-background {
    background: var(--light-color);
    color: #333333;
}

.primary-background {
    background: var(--primary-color);
    color: #ffffff;
}

.dark-background h1,
.dark-background h2,
.dark-background h3,
.dark-background p,
.dark-background a,
.secondary-background h1,
.secondary-background h2,
.secondary-background h3,
.secondary-background p,
.secondary-background a,
.primary-background h1,
.primary-background h2,
.primary-background h3,
.primary-background p,
.primary-background a {
    color: #ffffff;
}


/* main navigation */
#main-navbar {
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-navbar .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-navbar .logo {
    width: 9rem;
}

#main-navbar ul {
    justify-self: end;
    display: flex;
}

#main-navbar ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#main-navbar a.current {
    background: var(--primary-color);
    color: #ffffff;
}

#main-navbar ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
}

#main-navbar .social-links {
    justify-self: center;
}

#main-navbar .social-links a i {
    color: #777777;
    margin-right: 0.5rem;
}


/* Showcase */
#showcase {
    color: #ffffff;
    background: #333333;
    padding: 2rem;
    position: relative;
}

#showcase:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: url("../images/featured.jpg") no-repeat center center/cover;
}

#showcase #showcase-content {
    z-index: 1;
}

.showcase-container {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}


/* Home articles */
#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container .article-card:first-child,
#home-articles .articles-container .article-card:last-child {
    /* span two columns inside articles container */
    grid-column: 1 / span 2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container .article-card:last-child {
    grid-column: 2 / span 2;
}

/* Footer */
#main-footer {
    background: var(--dark-color);
    color: #ffffff;
}

#main-footer .logo {
    width: 9rem;
}

#main-footer a {
    color: #ffffff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

/* grabs any last child that's in the footer-container */
#main-footer .footer-container > *:last-child {
    grid-column: 1 / span 4;
    background: #444444;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.85rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}

.list li a:hover {
    color: var(--primary-color) !important;
}


